<fd-layout-grid>
  <div [fdLayoutGridCol]="12">
    <fd-card>
      <fd-card-header>
        <div fd-card-title>
          <h4 class="fd-title">تاریخچه نوع استخدام، تاریخچه تغییر وضعیت</h4>
        </div>
      </fd-card-header>
      <fd-card-content>
        <fd-layout-grid>
          <div [fdLayoutGridCol]="6">
            <fd-card>
              <fd-card-header>
                <div fd-card-title>
                  <h4 class="fd-title">تاریخچه نوع استخدام</h4>
                </div>
              </fd-card-header>
              <fd-card-content>
                <div class="gap"></div>
              </fd-card-content>
            </fd-card>
          </div>
          <div [fdLayoutGridCol]="6">
            <fd-card>
              <fd-card-header>
                <div fd-card-title>
                  <h4 class="fd-title">تاریخچه تغییر وضعیت</h4>
                </div>
              </fd-card-header>
              <fd-card-content>
                <div class="gap"></div>
              </fd-card-content>
            </fd-card>
          </div>
        </fd-layout-grid>
      </fd-card-content>
    </fd-card>
  </div>
</fd-layout-grid>
