<div class="container">
  <app-add-student-button (addStudent)="add()"></app-add-student-button>
  <ng-container *ngIf="studentList | async as studentList">
    <app-student-list-table
      [studentList]="studentList"
      (deleteStudent)="studentListService.delete($event)"
    ></app-student-list-table>
  </ng-container>
</div>

<ng-template let-dialog let-dialogConfig="dialogConfig" #addStudentDialog>
  <fd-dialog [dialogConfig]="dialogConfig" [dialogRef]="dialog">
    <fd-dialog-header>
      <h1 id="fd-dialog-header-10" fd-title>Add student</h1>
    </fd-dialog-header>

    <fd-dialog-body>
      <form [formGroup]="addStudentForm">
        <div
          class="fd-container fd-form-layout-grid-container fd-form-layout-grid-container--vertical"
        >
          <div class="fd-row">
            <div class="fd-col">
              <label class="fd-form-label" for="input-2224-name">Name:</label>
            </div>
            <div class="fd-col">
              <input
                formControlName="name"
                class="fd-input"
                type="text"
                id="input-2224-name"
                placeholder="Enter First..."
              />
            </div>
          </div>
          <div class="fd-row">
            <div class="fd-col">
              <label
                class="fd-form-label fd-form-label--required"
                for="input-2334-street"
                >Last Name:
              </label>
            </div>
            <div class="fd-col">
              <div class="fd-row">
                <div class="fd-col fd-col--4">
                  <input
                    formControlName="family"
                    class="fd-input"
                    type="text"
                    id="input-2334-street"
                    placeholder="Enter Last Name ..."
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="fd-row">
            <div class="fd-col">
              <label
                class="fd-form-label fd-form-label--required"
                for="input-2334-zip"
                >Age:
              </label>
            </div>
            <div class="fd-col">
              <div class="fd-row">
                <div class="fd-col fd-col--8">
                  <input
                    formControlName="age"
                    class="fd-input"
                    type="text"
                    id="input-2334-zip"
                    placeholder="Enter Age ..."
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="fd-row">
            <div class="fd-col">
              <label class="fd-form-label" for="text-2434-name">Score: </label>
            </div>
            <div class="fd-col">
              <input
                formControlName="score"
                class="fd-input"
                type="text"
                id="input-2334-zip"
                placeholder="Enter Score ..."
              />
            </div>
          </div>
        </div>
      </form>
    </fd-dialog-body>

    <fd-dialog-footer>
      <fd-button-bar
        fdInitialFocus
        label="Cancel"
        fdCompact
        (click)="dialog.dismiss('Cancel')"
        ariaLabel="Cancel"
      ></fd-button-bar>

      <fd-button-bar
        fdType="emphasized"
        label="Add"
        fdCompact
        (click)="dialog.close('Add')"
        [disabled]="addStudentForm.invalid"
      ></fd-button-bar>
    </fd-dialog-footer>
  </fd-dialog>
</ng-template>
