<fd-layout-grid>
  <div [fdLayoutGridCol]="6">
    <fd-card>
      <ul fd-list>
        <li fd-list-item>
          <fd-layout-grid>
            <span class="text-blue" [fdLayoutGridCol]="4">
              وضعیت کلی اشتغال :  
            </span>
            <span class="sub-title" [fdLayoutGridCol]="6" fd-list-title>
              شاغل
            </span>
          </fd-layout-grid>
        </li>
        <li fd-list-item>
          <fd-layout-grid>
            <span class="text-blue" [fdLayoutGridCol]="4">
              نوع استخدام:  
            </span>
            <span class="sub-title" [fdLayoutGridCol]="6" fd-list-title>
              رسمی
            </span>
          </fd-layout-grid>
        </li>
        <li fd-list-item>
          <fd-layout-grid>
            <span class="text-blue" [fdLayoutGridCol]="4"> شرکت :   </span>
            <span class="sub-title" [fdLayoutGridCol]="6" fd-list-title>
              شرکت 1
            </span>
          </fd-layout-grid>
        </li>
        <li fd-list-item>
          <fd-layout-grid>
            <span class="text-blue" [fdLayoutGridCol]="4"> معاونت :   </span>
            <span class="sub-title" [fdLayoutGridCol]="6" fd-list-title
              >واحد فناوری
            </span>
          </fd-layout-grid>
        </li>
        <li fd-list-item>
          <fd-layout-grid>
            <span class="text-blue" [fdLayoutGridCol]="4"> محل خدمت :   </span>
            <span class="sub-title" [fdLayoutGridCol]="6" fd-list-title
              >تهران
            </span>
          </fd-layout-grid>
        </li>
        <li fd-list-item>
          <fd-layout-grid>
            <span class="text-blue" [fdLayoutGridCol]="4"> سن :   </span>
            <span class="sub-title" [fdLayoutGridCol]="6" fd-list-title
              >44</span
            >
          </fd-layout-grid>
        </li>
      </ul>
    </fd-card>
  </div>
  <div [fdLayoutGridCol]="3" class="add-photo">
    <fd-card>
      <fd-card-header>
        <div fd-card-title>
          <div class="flex-1">
            <h4 class="fd-title">عکس پرسنلی</h4>
          </div>
          <div>
            <i class="red" fd-nested-list-icon glyph="delete"></i>
          </div>
          <div>
            <i fd-nested-list-icon glyph="save"></i>
          </div>
        </div>

        <div class="flex">
          <div class="flex-1"></div>
          <div></div>
        </div>
      </fd-card-header>
      <fd-card-content>
        <div>
          <i fd-nested-list-icon glyph="add-photo"></i>
        </div>
      </fd-card-content>
    </fd-card>
  </div>
</fd-layout-grid>
<fd-layout-grid>
  <div [fdLayoutGridCol]="12">
    <fd-card>
      <fd-card-header>
        <div fd-card-title>
          <h4 class="fd-title">مشخصات</h4>
        </div>

        <div class="flex">
          <div class="flex-1"></div>
          <div></div>
        </div>
      </fd-card-header>
      <fd-card-content>
        <fd-layout-grid style="padding: 20px">
          <div [fdLayoutGridCol]="3">
            <div fd-form-item>
              <label fd-form-label for="input-1" [required]="true">نام :</label>
              <input fd-form-control type="text" id="input-1" />
            </div>
            <div fd-form-item>
              <label fd-form-label [required]="true" for="input-2"
                >نام خانوادگی :</label
              >
              <input
                fd-form-control
                type="text"
                id="input-2"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label [required]="true" for="input-3"
                >کد ملی</label
              >
              <input
                fd-form-control
                type="password"
                id="input-3"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-4" [required]="true"
                >شماره شناسنامه :</label
              >
              <input
                fd-form-control
                fdCompact
                type="password"
                id="input-4"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-1"> نام پدر:</label>
              <input fd-form-control type="text" id="input-1" />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-2">جنسیت :</label>
              <input
                fd-form-control
                type="text"
                id="input-2"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-3">وضعیت تاهل :</label>
              <input
                fd-form-control
                type="password"
                id="input-3"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-4">تاریخ تولد :</label>
              <input
                fd-form-control
                fdCompact
                type="password"
                id="input-4"
                aria-required="true"
              />
            </div>
          </div>

          <div [fdLayoutGridCol]="3">
            <div fd-form-item>
              <label fd-form-label for="input-1"> محل تولد :</label>
              <input fd-form-control type="text" id="input-1" />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-2">محل صدور :</label>
              <input
                fd-form-control
                type="text"
                id="input-2"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-3">تاریخ صدور:</label>
              <input
                fd-form-control
                type="password"
                id="input-3"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-4">گروه خونی :</label>
              <input
                fd-form-control
                fdCompact
                type="password"
                id="input-4"
                aria-required="true"
              />
            </div>

            <div fd-form-item>
              <label fd-form-label for="input-1">تاریخ طلاق :</label>
              <input fd-form-control type="text" id="input-1" />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-2">First name:</label>
              <input
                fd-form-control
                type="text"
                id="input-2"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-3">Last name:</label>
              <input
                fd-form-control
                type="password"
                id="input-3"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-4">Father Name: </label>
              <input
                fd-form-control
                fdCompact
                type="password"
                id="input-4"
                aria-required="true"
              />
            </div>
          </div>

          <div [fdLayoutGridCol]="3">
            <div fd-form-item>
              <label fd-form-label for="input-1">تاریخچه تاهل :</label>
              <fd-layout-grid>
                <input
                  [fdLayoutGridCol]="6"
                  fd-form-control
                  type="text"
                  placeholder="از تاریخ ... "
                />
                <input
                  [fdLayoutGridCol]="6"
                  fd-form-control
                  type="text"
                  placeholder="تا تاریخ ... "
                />
              </fd-layout-grid>
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-2">First name:</label>
              <input
                fd-form-control
                type="text"
                id="input-2"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-3">Last name:</label>
              <input
                fd-form-control
                type="password"
                id="input-3"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-4">Father Name: </label>
              <input
                fd-form-control
                fdCompact
                type="password"
                id="input-4"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-2">تلفن همراه : </label>
              <input
                fd-form-control
                type="text"
                id="input-2"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-3">تلفن همراه (پیش فرض) : </label>
              <input
                fd-form-control
                type="password"
                id="input-3"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-4">تلفن منزل : </label>
              <input
                fd-form-control
                fdCompact
                type="password"
                id="input-4"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-4">تلفن محل کار : </label>
              <input
                fd-form-control
                fdCompact
                type="password"
                id="input-4"
                aria-required="true"
              />
            </div>
          </div>

          <div [fdLayoutGridCol]="3">
            <div fd-form-item>
              <label fd-form-label for="input-2">داخلی : </label>
              <input
                fd-form-control
                type="text"
                id="input-2"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-2">ایمیل (پیش فرض) : </label>
              <input
                fd-form-control
                type="text"
                id="input-2"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-3">کد پستی : </label>
              <input
                fd-form-control
                type="password"
                id="input-3"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-4">استان : </label>
              <input
                fd-form-control
                fdCompact
                type="password"
                id="input-4"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-2">شهر : </label>
              <input
                fd-form-control
                type="text"
                id="input-2"
                aria-required="true"
              />
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-3">آدرس : </label>
              <textarea fd-form-control id="textarea-11" rows="3"></textarea>
            </div>
            <div fd-form-item>
              <label fd-form-label for="input-4">Home Address: </label>
              <textarea fd-form-control id="textarea-11" rows="2"></textarea>
            </div>
          </div>
        </fd-layout-grid>
      </fd-card-content>
    </fd-card>
  </div>
</fd-layout-grid>
