<fd-toolbar>
  <label fd-toolbar-label> Filter and sort for table elements </label>
  <fd-toolbar-spacer></fd-toolbar-spacer>
  <ng-container fdCompact>
    <fd-input-group
      glyph="decline"
      glyphAriaLabel="Clear"
      title="Search"
      placeholder="Search"
      [button]="true"
      [disabled]="false"
      [(ngModel)]="filterVal"
      (addOnButtonClicked)="filterVal = ''"
    >
    </fd-input-group>
  </ng-container>
</fd-toolbar>

<table fd-table aria-label="Default" [allCellsFocusable]="true">
  <thead fd-table-header>
    <tr fd-table-row>
      <th fd-table-cell>Name</th>
      <th fd-table-cell>Last Name</th>
      <th fd-table-cell>Age</th>
      <th fd-table-cell>Score</th>
      <th fd-table-cell>Action</th>
    </tr>
  </thead>
  <tbody fd-table-body>
    <tr
      *ngFor="let row of studentList | filter: filterVal; let i = index"
      fd-table-row
    >
      <td fd-table-cell>
        <p [highlight]="filterVal" [textContent]="row.name"></p>
      </td>
      <td fd-table-cell>
        <p [highlight]="filterVal" [textContent]="row.family"></p>
      </td>
      <td fd-table-cell>
        <p [highlight]="filterVal" [textContent]="row.age"></p>
      </td>
      <td fd-table-cell>
        <p [highlight]="filterVal" [textContent]="row.score"></p>
      </td>
      <td fd-table-cell>
        <button fd-button fdType="negative" (click)="delete(i)">
          <fd-icon [glyph]="'delete'"></fd-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
