<table fd-table fdCozy aria-label="Default" [allCellsFocusable]="true">
  <thead fd-table-header>
    <tr fd-table-row>
      <th fd-table-cell></th>
      <th fd-table-cell>Name</th>
      <th fd-table-cell>Last Name</th>
      <th fd-table-cell>Age</th>
      <th fd-table-cell>Score</th>
    </tr>
  </thead>

  <tbody fd-table-body>
    <tr
      *ngFor="let row of studentList | filter: filterVal; let i = index"
      fd-table-row
      [attr.aria-selected]="row.checked"
    >
      <td fd-table-cell>
        <fd-checkbox
          [value]="row.checked"
          (click)="select(i, $event, row.checked)"
        ></fd-checkbox>
      </td>
      <td fd-table-cell>
        <p [highlight]="filterVal" [textContent]="row.name"></p>
      </td>
      <td fd-table-cell>
        <p [highlight]="filterVal" [textContent]="row.family"></p>
      </td>
      <td fd-table-cell>
        <p [highlight]="filterVal" [textContent]="row.age"></p>
      </td>
      <td fd-table-cell>
        <p [highlight]="filterVal" [textContent]="row.score"></p>
      </td>
    </tr>
  </tbody>
  <tfoot fd-table-footer>
    <tr>
      <td colspan="5">
        <div>
          <fd-pagination
            fd-toolbar-item
            [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage"
            [itemsPerPageOptions]="itemsPerPageOptions"
            [currentPage]="currentPage"
            (pageChangeStart)="pageClicked($event)"
            (itemsPerPageChange)="itemsPerPageClicked($event)"
            ariaLabel="Table pagination"
          ></fd-pagination>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
