/* You can add global styles to this file, and also import other style files */
@import "../node_modules/fundamental-styles/dist/icon.css";

@font-face {
  font-family: "72";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "72";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "72";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SAP-icons";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/SAP-icons.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BusinessSuiteInAppSymbols";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/BusinessSuiteInAppSymbols.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAP-icons-TNT";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/SAP-icons-TNT.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "72";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "72";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Bold-full.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "72";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Light-full.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SAP-icons";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/SAP-icons.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BusinessSuiteInAppSymbols";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/BusinessSuiteInAppSymbols.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAP-icons-TNT";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/SAP-icons-TNT.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

.highlighted-text {
  background-color: yellow;
}

.fd-nested-list__popover-header.fd-nested-list__link {
  display: none;
}

.flex {
  display: flex;
}

.fd-side-nav {
  margin-top: 80px !important;
}

.cdk-visually-hidden {
  display: none;
}

.fd-nested-list__link,
.fd-nested-list__content {
  padding-left: 0 !important;
}

.fd-side-nav--condensed {
  width: 11.75rem !important;
}

.fd-side-nav--condensed .fd-nested-list__title {
  display: block !important;
}

// .fd-nested-list--text-only {
//   width: 300px !important;
// }
