/* You can add global styles to this file, and also import other style files */
@import "../node_modules/fundamental-styles/dist/icon.css";

@font-face {
  font-family: "72";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "72";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "72";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SAP-icons";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/SAP-icons.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BusinessSuiteInAppSymbols";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/BusinessSuiteInAppSymbols.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAP-icons-TNT";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/SAP-icons-TNT.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "72";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Regular-full.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "72";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Bold-full.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "72";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/72-Light-full.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SAP-icons";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/sap_horizon/fonts/SAP-icons.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BusinessSuiteInAppSymbols";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/BusinessSuiteInAppSymbols.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAP-icons-TNT";
  src: url("~@sap-theming/theming-base-content/content/Base/baseLib/baseTheme/fonts/SAP-icons-TNT.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}

*,
span,
div {
  font-family: "Shabnam", sans-serif !important;
}

html {
  font-size: 16px;
}

.highlighted-text {
  background-color: yellow;
}

.fd-nested-list__popover-header.fd-nested-list__link {
  display: none;
}

.flex {
  display: flex;
}

.cdk-visually-hidden {
  display: none;
}

.fd-nested-list__link,
.fd-nested-list__content {
  padding-left: 0 !important;
}

.fd-side-nav--condensed {
  width: 11.75rem !important;
}

.fd-side-nav--condensed .fd-nested-list__title {
  display: flex !important;
}

.fd-popover-custom {
  width: 100% !important;
}

.fd-nested-list__button.fd-button {
  display: block !important;
}

.fd-nested-list__title {
  padding-right: 0.75rem !important;
}

.fd-nested-list--text-only .fd-nested-list__link {
  padding-right: 0 !important;
}

.fd-side-nav__main-navigation {
  height: 100vh;
}

a,
.fd-link__content {
  text-decoration: none !important;
}

.text-blue {
  color: #6367de !important;
}

.fd-card__title {
  width: 100% !important;
  display: flex !important;
}

.flex-1 {
  flex: 1;
}

.fd-nested-list__content {
  padding-right: 0px !important;
}

.fd-nested-list__title {
  white-space: nowrap;
  width: 200px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block !important;
  padding-top: 10px !important;
}
